Host bastion ${bastion_ip}
    Hostname ${bastion_ip}
    User ${ssh_user}
%{if ssh_force_tty ~}
    RequestTTY force
%{endif ~}
    ForwardAgent yes
    IdentityFile ${ssh_identity_file}
    UserKnownHostsFile ${ssh_known_hosts}
%{ for id in keys(instances) ~}
Host ${id} ${instances[id]}
    Hostname ${instances[id]}
    User ${ssh_user}
    IdentityFile ${ssh_identity_file}
    UserKnownHostsFile ${ssh_known_hosts}
    ProxyJump bastion
%{ endfor ~}
