# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.

* @kubernetes-simulator/simulator

# Scenarios
/simulation-scripts/scenario @s-irvine @pi-unnerup @abdullahgarcia

# Terraform
/terraform @s-irvine @raoulmillas @jondkent

# Tools
/tools @raoulmillas @abdullahgarcia

# Attack Container
/attack @raoulmillas @jondkent

# Simulator Binaries
/cmd @raoulmillas @jondkent @abdullahgarcia
/pkg @raoulmillas @jondkent @abdullahgarcia

# kubesim
/kubesim @s-irvine @raoulmillas

# Build Files
/Dockerfile @s-irvine @raoulmillas @pi-unnerup @jondkent
/Jenkinsfile @raoulmillas @s-irvine @pi-unnerup
/Makefile @s-irvine @raoulmillas @pi-unnerup @jondkent
