# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.

* @kubernetes-simulator/simulator

# Scenarios
/simulation-scripts/scenario @s-irvine @pi-unnerup @abdullahgarcia

# Terraform
/terraform @s-irvine @raoulmillais @jondkent

# Tools
/tools @raoulmillais @abdullahgarcia

# Attack Container
/attack @raoulmillais @jondkent

# Simulator Binaries
/cmd @raoulmillais @jondkent @abdullahgarcia
/pkg @raoulmillais @jondkent @abdullahgarcia

# kubesim
/kubesim @s-irvine @raoulmillais

# Build Files
/Dockerfile @s-irvine @raoulmillais @pi-unnerup @jondkent
/Jenkinsfile @raoulmillais @s-irvine @pi-unnerup
/Makefile @s-irvine @raoulmillais @pi-unnerup @jondkent
