# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.

* @controlplaneio/simulator

# Scenarios
/simulation-scripts/scenario @abdullahgarcia @jondkent @sublimino

# Terraform
/terraform @jondkent @abdullahgarcia

# Tools
/tools @abdullahgarcia @jondkent

# Attack Container
/attack @jondkent @abdullahgarcia @sublimino

# Simulator Binaries
/cmd @jondkent @abdullahgarcia
/pkg @jondkent @abdullahgarcia

# kubesim
/kubesim @jondkent @abdullahgarcia

# Build Files
/Dockerfile @jondkent @abdullahgarcia
/Jenkinsfile @jondkent @abdullahgarcia
/Makefile @jondkent @abdullahgarcia
