security_group_name = ""
access_key = ""
private_vpc_cidr = ""
public_vpc_cidr = ""
access_cidr = ""
public_cidr  = ""
private_cidr = ""
ami_id = ""
instance_type = ""
private_avail_zone = ""
public_avail_zone = ""
