#
# rename to bastion.tfvars and update as required
# .gitignore setup to ignore .tfvars file, do not change this
#
region = "eu-west-1"
shared_credentials_file = "[location of your aws credentials file]"
aws_profile = "[name of profile in credentials file, can be removed if default]"
access_key = "[your ssh public key]"
vpc_cidr = ""
access_cidr = ""
public_subnet_cidr  = ""
private_subnet_cidr = ""
ami_id = "ami-09d38086eb2b23925"
instance_type = "[can be removed - defaults to t2.micro]"
private_avail_zone = "eu-west-1a"
public_avail_zone = "eu-west-1a"
