#
# rename to bastion.tfvars and update as required
# .gitignore setup to ignore .tfvars file, do not change this
#
region = ""
shared_credentials_file = ""
aws_profile = ""
access_key = ""
private_vpc_cidr = ""
public_vpc_cidr = ""
access_cidr = ""
public_subnet_cidr  = ""
private_subnet_cidr = ""
ami_id = ""
instance_type = ""
private_avail_zone = ""
public_avail_zone = ""
