#!/bin/bash

set -Eeuo pipefail

# install _scripts/kill_ssh.sh
KILL_PODS=""
echo "$KILL_PODS" | base64 -d > /opt/kill_ssh.sh
chmod +x /opt/kill_ssh.sh

## manual cleanup
rm -f /root/.bash_history
journalctl --vacuum-time 1s --quiet 2>/dev/null
