<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/public/css/style.css">
<html>
  <head>
    <div class="header">
      <h1>POD CHECKER</h1>
    </div>
  <body>
    <ul>
      <li style="float:left"></listyle><a href="/">Home</a></li>
      <li><a class="active" href="/about">About</a></li>
    </ul>
  </body>
  <div class="container">
    <!-- about page -->
    <div class="about">
      <h2 style="text-align:center">ABOUT</h2>
      <p style="text-align:center">Pod Checker is a tool that allows you to check the validity of your pod manifest (YAML).</p>
      <p style="text-align:center"></p>
      <p style="text-align:center">DISCLAIMER: The tool is currently in development and may not support all resource types.</p>
  </div>
</head>
</html>