<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/public/css/style.css">
<script type="text/javascript" src="/public/js/submit.js"></script>
<html>
  <head>
    <div class="header">
      <h1>POD CHECKER</h1>
    </div>
  </head>
  <body>
    <ul>
        <li style="float:left"></listyle><a class="active" href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    <div class="container">
      <div class="row">
        <div class="left-submit">
          <h3 style="text-align:center">ENTER POD MANIFEST</h2>
              <textarea id="yaml" name="pod"></textarea>
            <input type="submit" value="SUBMIT" onclick=submitForm()>
        </div>
        <div class="right-result">
          <h3 style="text-align:center">VALID POD MANIFEST <i id="icon" class="fa-regular fa-circle"></i></h2>
          <h3 style="text-align:center">EXAMPLE POD MANIFEST</h2>
            <textarea id="example" name="example"></textarea>
        </div>
      </div>
    </div>
  </body>
</html>